#timeLineTableContainer{
	background-color: blue;
	max-width: 1050px;
	max-height: 600px;
	min-width: 1050px;
	min-height: 600px;
}

#timeLineTable{
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	padding-top: 25px;
	margin-bottom: 25px; 
	max-width: 1000px;
	max-height: 600px;
	min-width: 1000px;
	min-height: 600px;
}